@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: pretendard variable, Pretendard, "Apple SD Gothic Neo",
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, helvetica neue,
    segoe ui, apple sd gothic neo, noto sans kr, malgun gothic,
    apple color emoji, segoe ui emoji, segoe ui symbol, sans-serif;
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
