@import url(../../public/fonts/pretendardvariable-dynamic-subset.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

img.thumbnail {
  -webkit-touch-callout: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
